// Variables
$cyan: hsl(180, 66%, 49%);
$darkViolet: hsl(257, 27%, 26%);
$red: hsl(0, 87%, 67%);
$gray: hsl(0, 0%, 75%);
$grayishViolet: hsl(257, 7%, 63%);
$veryDarkBlue: hsl(255, 11%, 22%);
$veryDarkViolet: hsl(260, 8%, 14%);
$accent: hsl(230, 25%, 95%);

// Breakpoints
$desktop: 73.75em;
$tablet-landscape: 68.75em;
$tablet-portrait: 45em;
$mobile: 31.25em;

// Mixins
@mixin respond($breakpoint) {
  @if $breakpoint == $desktop {
    @media screen and (max-width: $desktop) {
      @content;
    }
  }
  @if $breakpoint == $tablet-landscape {
    @media screen and (max-width: $tablet-landscape) {
      @content;
    }
  }
  @if $breakpoint == $tablet-portrait {
    @media screen and (max-width: $tablet-portrait) {
      @content;
    }
  }
  @if $breakpoint == $mobile {
    @media screen and (max-width: $mobile) {
      @content;
    }
  }
}

// Placeholder
%border-radius {
  border-radius: 0.7rem;
}

%transition {
  transition: 0.2s ease all;
}

/* Base Styles */
*,
*:before,
*:after {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  font-weight: 500;

  @include respond($desktop) {
    font-size: 58%;
  }

  @include respond($mobile) {
    font-size: 55%;
  }
}

body {
  overflow-x: hidden;
}

body,
h1,
h2,
h3,
h4,
p,
ul {
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 7rem;
  line-height: 1.2;

  @include respond($tablet-landscape) {
    font-size: 6rem;
  }

  @include respond($tablet-portrait) {
    font-size: 5rem;
  }
}

h2 {
  font-size: 3.7rem;
  margin-bottom: 1.3rem;
  @include respond($tablet-portrait) {
    font-size: 3rem;
  }
}

h3 {
  font-size: 1.9rem;
  margin-bottom: 1rem;
  font-weight: 700;
}

p {
  color: $grayishViolet;
  font-size: 1.8rem;
  line-height: 1.7;
}

.container {
  max-width: 113rem;
  width: 100%;
  margin: 0 auto;

  @include respond($tablet-landscape) {
    max-width: 95%;
  }

  @include respond($tablet-landscape) {
    max-width: 90%;
  }
}

.btn {
  display: inline-block;
  color: #ffffff;
  background-color: $cyan;
  border: none;
  text-decoration: none;
  padding: 1rem 3.8rem;
  border-radius: 4rem;
  cursor: pointer;
  font-size: 1.6rem;
  font-weight: bold;
  @extend %transition;
  letter-spacing: 1px;

  @include respond($tablet-portrait) {
    padding: 1.5rem 5rem;
  }

  &.btn--squared {
    @extend %border-radius;
  }

  &:hover,
  &:focus {
    background-color: lighten($cyan, 25%);
  }

  &.copied {
    background-color: $darkViolet;
    color: #ffffff;
  }
}

.nav {
  display: flex;
  margin-top: 2.5rem;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: 10;
  align-items: center;

  &__wrapper {
    display: flex;
    justify-content: space-between;
    flex-grow: 1;

    @media screen and (max-width: $tablet-portrait) {
      display: none;
    }
  }

  &__list {
    display: flex;
    list-style: none;
    align-items: center;

    &:first-of-type {
      margin-right: auto;
      margin-left: 3rem;
    }
  }

  &__item {
    &:not(:last-child) {
      margin-right: 4rem;
    }
  }

  &__link {
    display: block;
    color: $grayishViolet;
    text-decoration: none;
    font-size: 1.5rem;
    @extend %transition;

    &:not(:last-of-type) {
      margin: 3rem;
    }

    &:hover,
    &:focus {
      color: $veryDarkViolet;
    }
  }

  .burger {
    display: none;
    flex-direction: column;
    justify-content: center;
    cursor: pointer;
    margin-left: auto;

    @media screen and (max-width: $tablet-portrait) {
      display: flex;
    }

    span {
      background-color: $gray;
      height: 0.4rem;
      width: 3.3rem;
      display: block;

      &:not(:last-child) {
        margin-bottom: 0.7rem;
      }
    }
  }

  &.active {
    .nav__wrapper {
      background-color: $darkViolet;
      display: flex;
      flex-direction: column;
      justify-content: center;
      position: absolute;
      width: 96%;
      top: 8rem;
      left: 50%;
      transform: translateX(-50%);
      @extend %border-radius;
      padding: 4rem 3rem;

      .nav__list {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: 0;

        &:last-child {
          border-top: 1px solid rgba($grayishViolet, 0.4);
          padding-top: 3rem;
        }
      }

      .nav__item {
        margin: 0 0 3rem;
      }

      .btn {
        text-align: center;
        width: 100%;
      }

      .nav__link {
        color: #ffffff;
        font-size: 1.7rem;
      }
    }
  }
}

.header {
  position: relative;
  height: 70rem;
  display: flex;
  align-items: center;

  @include respond($tablet-portrait) {
    flex-direction: column;
    height: 95rem;
    padding-top: 10rem;
  }

  &__intro {
    max-width: 53rem;
    width: 60%;

    @include respond($tablet-portrait) {
      max-width: auto;
      width: 100%;
      order: 2;
      text-align: center;
      margin-top: 3rem;
    }

    p {
      margin-bottom: 3rem;
    }
  }

  &__image {
    margin-left: auto;
    margin-right: -20rem;
    width: 65rem;

    @include respond($tablet-portrait) {
      order: 1;
      margin-right: -6rem;
      width: 55rem;
    }

    @include respond($mobile) {
      order: 1;
      margin-right: -9rem;
      width: 55rem;
    }

    img {
      width: 100%;
    }
  }
}

.shorten {
  margin-top: -14rem;
  background: $darkViolet;
  background-image: url("/images/bg-shorten-desktop.svg");
  padding: 4rem;
  z-index: 10;
  @extend %border-radius;

  span {
    display: none;
  }

  @include respond($tablet-portrait) {
    background-position: 67% 0%;
    background-size: 480%;
    padding: 3rem;
  }

  &__container {
    display: flex;

    @include respond($tablet-portrait) {
      flex-direction: column;
    }
  }

  &__input {
    @extend %border-radius;
    border: 0.3rem solid transparent;
    padding: 1.5rem 2rem;
    font-size: 1.8rem;
    margin-right: 2rem;
    flex: 1;

    @include respond($tablet-portrait) {
      margin-right: 0;
      margin-bottom: 1.5rem;
    }
  }

  &.error {
    .shorten__input {
      border: 0.3rem solid $red;
    }
    span {
      display: block;
      color: $red;
      margin-top: 1rem;
      font-size: 1.5rem;
    }
  }

  &__result {
    background-color: #ffffff;
    @extend %border-radius;
    padding: 1.5rem 2rem;
    margin-bottom: 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;

    @include respond($tablet-portrait) {
      flex-direction: column;
    }

    &:first-of-type {
      margin-top: 2rem;
    }

    &-link {
      color: $veryDarkViolet;

      @include respond($tablet-portrait) {
        align-self: flex-start;
      }
    }

    &-actions {
      @include respond($tablet-portrait) {
        align-self: flex-start;
        margin-top: 1.5rem;
        border-top: 1px solid $accent;
        width: 100%;
      }

      a {
        font-size: 1.8rem;
        text-decoration: none;
        color: $cyan;
        margin-right: 2rem;
        @include respond($tablet-portrait) {
          display: block;
          margin: 2rem 0;
        }
      }

      button {
        @include respond($tablet-portrait) {
          width: 100%;
        }
      }
    }
  }
}

.blue-background {
  background-color: $accent;
}

.feature-section {
  padding: 6rem 0 14rem;
  position: relative;

  @media screen and (max-width: $desktop) {
    padding: 6rem 0rem 14rem;
  }

  &__intro {
    margin: 10rem auto;
    text-align: center;
    max-width: 53rem;
  }
}

.cards {
  display: flex;
  position: relative;

  @include respond($tablet-portrait) {
    flex-direction: column;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
  }

  &::before {
    content: "";
    position: absolute;
    display: block;
    height: 0.7rem;
    width: 100%;
    background-color: $cyan;
    top: 50%;
    transform: translate(0, -50%);

    @include respond($tablet-portrait) {
      height: 100%;
      width: 0.7rem;
      left: 50%;
      top: 0;
      transform: translate(-50%, 0);
    }
  }
}

.card {
  background-color: #ffffff;
  position: relative;
  padding: 7rem 3rem 3rem;
  flex: 1;
  height: auto;
  @extend %border-radius;

  @include respond($tablet-portrait) {
    margin-bottom: 7rem;
  }

  &__icon {
    position: absolute;
    background-color: $darkViolet;
    border-radius: 50%;
    height: 8rem;
    width: 8rem;
    display: flex;
    align-items: center;
    justify-content: center;
    top: -3.5rem;

    @include respond($tablet-portrait) {
      left: 50%;
      transform: translateX(-50%);
    }
  }

  &:nth-child(1) {
    align-self: flex-start;
  }

  &:nth-child(2) {
    align-self: center;
  }

  &:nth-child(3) {
    align-self: flex-end;
    margin-top: 7rem;
    @include respond($tablet-portrait) {
      margin-bottom: 0;
      margin-top: 0;
    }
  }

  &:not(:last-child) {
    margin-right: 2rem;

    @include respond($tablet-portrait) {
      margin-right: 0;
    }
  }
}

.call-to-action {
  color: #ffffff;
  background: $darkViolet;
  background-image: url("/images/bg-boost-desktop.svg");
  padding: 6.5rem 5rem;
  text-align: center;
}

.footer {
  background-color: $veryDarkViolet;
  padding: 7rem 0;
  display: flex;
  flex-direction: column;

  @media screen and (max-width: $desktop) {
    padding: 7rem 1.5rem;
  }

  .container {
    display: grid;
    grid-template-columns: 2fr repeat(4, 1fr);

    @include respond($tablet-portrait) {
      display: block;
      text-align: center;
    }
  }

  svg {
    @include respond($tablet-portrait) {
      margin-bottom: 4rem;
    }
  }

  &__column {
    display: flex;
    flex-direction: column;

    @include respond($tablet-portrait) {
      margin-bottom: 4rem;
    }

    h4 {
      color: #ffffff;
      margin-bottom: 2rem;
      font-size: 1.5rem;
    }
  }

  &__link {
    color: $grayishViolet;
    text-decoration: none;
    margin-bottom: 0.7rem;
    font-size: 1.4rem;
    @extend %transition;

    &:hover,
    &:focus {
      color: $cyan;
    }
  }

  &__socials {
    display: flex;
    justify-content: space-around;

    svg path {
      @extend %transition;
    }

    a {
      @include respond($tablet-portrait) {
        margin-right: 2rem;
      }

      &:hover,
      &:focus {
        svg path {
          fill: $cyan;
        }
      }
    }

    @include respond($tablet-portrait) {
      display: block;
    }
  }
}

.attribution {
  color: $grayishViolet;
  font-size: 1.1rem;
  text-align: center;
  margin-top: 5rem;

  a {
    text-decoration: none;
    color: #ffffff;
  }
}
